# Imports

In [24]:
import pandas as pd
import inflection
import math

## Helper functions

## Loading data

In [10]:
df_sales_raw = pd.read_csv('data/train.csv', low_memory = False)
df_store_raw = pd.read_csv('data/store.csv', low_memory = False)

# merge
df_raw = pd.merge( df_sales_raw, df_store_raw, how='left', on='Store')

In [11]:
df_raw.sample()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
300359,474,5,2014-10-24,8594,843,1,1,0,0,c,a,14810.0,NaN,NaN,1,14.0,2011.0,"Mar,Jun,Sept,Dec"

# Descrição Dos Dados

## Rename Columns

In [13]:
df1 = df_raw.copy()

In [14]:
df1.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [19]:
cols_old = ['Store','DayOfWeek','Date','Sales','Customers', 'Open','Promo','StateHoliday','SchoolHoliday','StoreType','Assortment','CompetitionDistance','CompetitionOpenSinceMonth','CompetitionOpenSinceYear','Promo2','Promo2SinceWeek','Promo2SinceYear','PromoInterval']

snakecase = lambda x: inflection.underscore( x )

cols_new = list( map( snakecase, cols_old) )

# Rename
df1.columns = cols_new

## Data Dimension

In [20]:
print( 'Number of Rows: {}'.format( df1.shape[0] ) )
print( 'Number of Cols: {}'.format( df1.shape[1] ) )

Number of Rows: 1017209
Number of Cols: 18

## Data Types

In [22]:
df1['date'] = pd.to_datetime( df1['date'] )

df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

## Check NA

In [23]:
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

## Fillout NA

In [25]:
df1['competition_distance'].max()

75860.0

In [30]:
df1['competition_open_since_month']

0           9.0
1          11.0
2          12.0
3           9.0
4           4.0
           ...
1017204     6.0
1017205     4.0
1017206     NaN
1017207     NaN
1017208     NaN
Name: competition_open_since_month, Length: 1017209, dtype: float64

In [32]:
# competition_distance
df1['competition_distance'] = df1['competition_distance'].apply( lambda x: 200000 if math.isnan( x ) else x )

# competition_open_since_month
df1['competition_open_since_month'] = df1.apply(lambda x: x['date'].month if math.isnan( x['competition_open_since_month'] ) else x['competition_open_since_month'], axis=1 )

# competition_open_since_year
df1['competition_open_since_year'] = df1.apply(lambda x: x['date'].year if math.isnan( x['competition_open_since_year'] ) else x['competition_open_since_year'], axis=1 )

# promo2_since_week
df1['promo2_since_week'] = df1.apply(lambda x: x['date'].week if math.isnan( x['promo2_since_week'] ) else x['promo2_since_week'], axis=1 )

# promo2_since_year
df1['promo2_since_year'] = df1.apply(lambda x: x['date'].year if math.isnan( x['promo2_since_year'] ) else x['promo2_since_year'], axis=1 )

In [33]:
# promo_interval
month_map = {1: 'Jan', 2: 'Fev', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sept', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

df1['promo_interval'].fillna(0, inplace=True)

df1['month_map'] = df1['date'].dt.month.map( month_map )

df1['is_promo'] = df1[['promo_interval', 'month_map']].apply( lambda x: 0 if x['promo_interval'] == 0 else 1 if x['month_map'] in x['promo_interval'].split(',') else 0, axis=1 )

In [34]:
df1.sample(5).T

,807445,274640,818108,349419,1007918
store,971,1028,484,1002,744
day_of_week,1,5,5,2,3
date,2013-07-08 00:00:00,2014-11-21 00:00:00,2013-06-28 00:00:00,2014-09-02 00:00:00,2013-01-09 00:00:00
sales,6445,4327,8485,7245,7653
customers,881,550,839,759,855
open,1,1,1,1,1
promo,0,0,0,1,1
state_holiday,0,0,0,0,0
school_holiday,0,0,1,0,0
store_type,c,a,a,d,a
assortment,a,a,c,c,a
competition_distance,1140.0,150.0,14300.0,1130.0,1370.0
competition_open_since_month,5.0,11.0,3.0,11.0,12.0
competition_open_since_year,2011.0,2014.0,2011.0,2008.0,2011.0
promo2,1,1,0,0,1
promo2_since_week,14.0,31.0,26.0,36.0,40.0
promo2_since_year,2012.0,2013.0,2013.0,2014.0,2014.0
promo_interval,"Mar,Jun,Sept,Dec","Jan,Apr,Jul,Oct",0,0,"Jan,Apr,Jul,Oct"
month_map,Jul,Nov,Jun,Sept,Jan
is_promo,0,0,0,0,1

In [35]:
df.isna().sum()

NameError: name 'df' is not defined

##